@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.table{
  margin-top:20px;
  min-width:650px;

.tablehead{

  background-color:$main;
  .title{
    color:$text;
  }
}

}
